:root {
  // temporary adjustment
  --ifm-font-weight-bold: 600;
}

.hidden {
  display: none;
}

// index.mdx page only
.plugin-pages {
  .navbar {
    display: none;
  }
  .main-wrapper > .container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 20px;
  }

  img + button {
    display: none !important;
  }

  p {
    white-space: pre-wrap;
    max-width: 500px;
    text-align: center;
    font-family: monospace;
    font-size: 13px;
    margin-bottom: 13px;
  }

  a {
    text-decoration: none;
    font-weight: 300;
  }
}
