:root {
  // temporary adjustment
  --ifm-font-weight-bold: 600;
}

.hidden {
  display: none;
}

.landing {
  .footer,
  .navbar {
    display: none;
  }

  .row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 0 var(--ifm-spacing-horizontal) !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .row > .col {
    max-width: 500px !important;
    margin: 50px 0 !important;
    padding: 0 !important;
  }

  article {
    p:first-child img {
      margin-bottom: 8px;
    }

    p:first-child img + button {
      display: none !important;
    }

    p {
      white-space: pre-wrap;
      max-width: 500px;
      text-align: center;
      font-size: 13px;
      margin-bottom: 13px;
    }

    a {
      text-decoration: none;
      font-weight: 300;
    }
  }
}
